/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
