<div class="container-fluid bg-dark">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-light"
        >The Book Store ©Cognizant 2022 , A training project under the kind
        guidance of
        <span class="fw-bold"
          >Mrs. Geetha Thangaraj (Architect - Technology DXDE-ExpEngg-Web)</span
        >
      </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <p class="text-light fw-bold">This project is teamwork of</p>
      </li>
      <li class="ms-3">
        <p class="text-light">Vivek Kumar Gupta</p>
      </li>
      <li class="ms-3">
        <p class="text-light">Vivek Kumar Mishra</p>
      </li>
      <li class="ms-3">
        <p class="text-light">Anubhav Singh</p>
      </li>
      <li class="ms-3">
        <p class="text-light">Monika Jaiswal</p>
      </li>
      <li class="ms-3">
        <p class="text-light">Shaukin Khan</p>
      </li>
    </ul>
  </footer>
</div>
